#w{
    display: flex;
    align-Items: center;
    justify-Content: center;
    height: 100vh;
    margin: 0;
    background-Image:url("/public/cloud.jpg");
    background-Size: cover;
    overflow: hidden;
    flex-Direction: column;
}

hr.solid {
    border-top: 3px solid #bbb;
  }
h1{
    text-align: center;
}
#google{
    align-self: center;
}
.error {
    background-color: tomato;
    color: white;
    border-radius: 6px;
    padding: 6px 12px;
    font-weight: bold;
    max-width: 400px;
    margin-bottom: 18px;
  }